@page "/delete/{CheepId}"
@using Chirp.Core
@model Chirp.Web.Pages.DeleteModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    Something went wrong, please go back.
</div>