@page "/follow/{tofollow}/{redirection}"
@using Chirp.Core
@model Chirp.Web.Pages.FollowModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    Something went wrong, please go back.
</div>